<div class="container-fluid">
  <div class="title text-center">
    <h1>Inventory</h1>
  </div>
  <div class="content row">
    <div class="text-center">
      <!--The rest-->
      <p>Currently, we are in the process of upgrading our own inventory.</p>
      <p>However, we distribute, provide support, and mentor as a service for HackAlliance.</p>
      <p>Take a look at their inventory to see what they have to offer for your next hackathon!</p>
    </div>
    <div class="logos text-center">
      <a class="logoIcon" href="{{hcpurl}}" target="_self" ng-click="linkModelFunc(hcpurl)">
        <img src="/images/hack-alliance-long.png" style="max-width:100%;height:auto;"></a>
    </div>
    <div class="backBtn">
      <a ui-sref="home.inventory.left">
        <button class="button" aria-label="Back">
          <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
        </button>
      </a>
    </div>
  </div>
</div>
