<div class="container-fluid">
	<div class="col-sm-offset-4 col-sm-4 text-center">

		<h1>{{contact}}</h1>
		<br>
		<!--facebook-->
		<a class="navLinkHcp" href="{{facebook}}" target="_self" ng-click="linkModelFunc(facebook)"><button>Facebook</button></a>
		<br>
		<!--Twitter-->
		<a class="navLinkHcp" href="{{twitter}}" target="_self" ng-click="linkModelFunc1(twitter)"><button>Twitter</button></a>
		<br>
		<!--Email-->
		<a class="navLinkHcp" href="{{email}}" target="_self" ng-click="linkModelFunc2(email)"><button>Email</button></a>


	</div>
</div>
