<div class="container-fluid">
	<div class="col-sm-offset-4 col-sm-4 text-center">
        <!--Back button-->

        <br>
        <!--The rest-->
		<h1>{{contact}}</h1>
		<br>
		<!--facebook-->
		<a class="navLinkHcp" href="{{facebook}}" target="_self" ng-click="linkModelFunc(facebook)"><button class="button col-sm-12">Facebook</button></a>
		<br>
		<!--Twitter-->
		<a class="navLinkHcp" href="{{twitter}}" target="_self" ng-click="linkModelFunc1(twitter)"><button class="button col-sm-12">Twitter</button></a>
		<br>
		<!--Email-->
		<a class="navLinkHcp" href="{{email}}" target="_self" ng-click="linkModelFunc2(email)"><button class="button col-sm-12">Email</button></a>

        <a ui-sref="home.contact.up">
            <button type="button" class="button" aria-label="Back">
                <span>Back</span>
            </button>
        </a>

	</div>
</div>
