<div class="container-fluid">
  <div class="title text-center">
    <h1>FAQ</h1>
  </div>
  <div class="content">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-4">
        <h3>Who are we?</h3>
        <p>We are hackathon hackers dedicated to connecting students and hardware. As fellow hackers, we want you to have equipment so you can show off your talent and imagination!
        </p>
      </div>
      <div class="col-sm-offset-2 col-sm-4">
        <h3>What do we do?</h3>
        <p>
          We rent hardware to students who want to try out different items. Maybe you are unable to access something, or you simply want to try out a new product. Either way, we're here to help you get the equipment you need!
        </p>
      </div>
      <div class="col-sm-offset-1 col-sm-4">
        <h3>Why do we exist?</h3>
        <p>Many students need easier access to hardware, and we want to make that a reality. Information and advice is widely available, and your skills just need equipment to work on.
        </p>
      </div>
      <div class="col-sm-offset-2 col-sm-4">
        <h3>Are hackers dangerous?!</h3>
        <p>We strongly oppose the use of technology for criminal activities. At HackWare, we define "hackers" as students who innovate with software and hardware to create better technology. To see what students are making, please visit
          <a id="links" href="https://devpost.com">DevPost</a>.
        </p>
      </div>
    </div>
    <!--Back button-->
    <div class="backBtn">
      <a ui-sref="home.faq.down">
        <button class="button" id="faqBtn" aria-label="Back">
          <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
        </button>
      </a>
    </div>
  </div>
</div>
