<div class="container-fluid">
  <!--The rest-->
  <div class="title text-center">
    <h1>Our mission</h1>
    <p>It is HackWare's mission to help the community through education and exceptional service.</p>
    <p>Education through example, service through excellence.</p>
  </div>
  <div class="content text-center">
    <div id="teamTitle">
      <h3>The Team</h3>
    </div>
    <div class="team">
      <div class="row">
        <div class="col-md-3">
          <img src="/images/jeroen.jpg" style="width:40%;height:40%;">
          <h4>Jeroen Goossens</h4>
          <p>CEO, developer, and penguin afficionado.</p>
        </div>

        <div class="col-md-3">
          <img src="/images/luis.jpg" style="width:40%;height:40%;">
          <h4>Luis Villavicencio</h4>
          <p>CTO, developer, and might have an outstanding warrant.</p>
        </div>

        <div class="col-md-3">
          <img src="/images/scotty.jpg" style="width:40%;height:40%;">
          <h4>Scotty Shaw</h4>
          <p>CFO, historian, and dangerous white wannabe-gangster.</p>
        </div>

        <div class="col-md-3">
          <img src="/images/ali.jpg" style="width:40%;height:40%;">
          <h4>Ali Malik</h4>
          <p>In-house web designer, intern, and plush doll afficionado.</p>
        </div>
      </div>
    </div>
    <!--Back button-->
    <div class="backBtn text-right">
      <a ui-sref="home.about.right">
        <button class="button" aria-label="Back">
          <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
        </button>
      </a>
    </div>
  </div>
</div>
