<div class="col-sm-offset-4 col-sm-4 text-center">
    <!--Back button-->
    <a ui-sref="home.about.right">
        <button class="button" aria-label="Back">
            <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
        </button>
    </a>
    <br>
    <!--The rest-->
    <div>
        <h2>Our mission</h2>
        <h6>It is HackWare's mission to help the community through education and exceptional service.</h6>
        <h6>Education through example, service through excellence.</h6>
    </div>
    <br>
    <div>
        <h2>Who are we?</h2>
        <p>The team currently consists of three individuals.</p>
        <br>
        <div class="col-md-6">
            <!-- TODO add a picture of Jeroen here-->
            <img src="/images/jeroen.jpg" style="width:40%;height:40%;">
            <br>
            <h3>Jeroen Goossens</h3>
            <br>
            <h6>CEO, developer, and penguin afficionado.</h6>
        </div>
        <div class="col-md-6">
            <!-- TODO add a picture of Luis here-->
            <img src="/images/luis.jpg" style="width:40%;height:40%;">
            <br>
            <h3>Luis Villavicencio</h3>
            <br>
            <h6>CTO, developer, and might have an outstanding warrant.</h6>
        </div>
        <div class="col-md-6">
            <!-- TODO add a picture of Scotty here-->
            <img src="/images/scotty.jpg" style="width:40%;height:40%;">
            <br>
            <h3>Scotty Shaw</h3>
            <br>
            <h6>CFO, historian, and dangerous white wannabe-gangster.</h6>
        </div>
        <div class="col-md-6">
            <!-- TODO add a picture of Ali here-->
            <img src="">
            <br>
            <h3>Ali Malik</h3>
            <br>
            <h6>In-house web designer, intern, and plush doll afficionado.</h6>
        </div>
    </div>
    <br>
</div>
