<div class="container-fluid">
	<div class="col-sm-offset-4 col-sm-4 text-center">
		{{about}}
        <h2>Who are we?</h2>
        <p>The team currently consists of three individuals.</p>
        <br>
        <div>
            <!-- TODO add a picture of Jeroen here-->
            <img src="">
            <br>
            <h3>Jeroen Goossens</h3>
            <br>
            <h4>CEO, developer, and penguin afficionado.</h4>
        </div>
        <div>
            <!-- TODO add a picture of Luis here-->
            <img src="">
            <br>
            <h3>Luis Villavicencio</h3>
            <br>
            <h4>CTO, developer, and might have an outstanding warrant.</h4>
        </div>
        <div>
            <!-- TODO add a picture of Scotty here-->
            <img src="">
            <br>
            <h3>Scotty Shaw</h3>
            <br>
            <h4>CFO, historian, and dangerous white wannabe-gangster.</h4>
        </div>

	</div>
</div>
